.idea
node_modules
__pycache__
.pytest_cache
.vscode
.git
.DS_Store
.env
.benchmarks
__Tests__
__test__
__test_cache__


uvicorn main:app --reload --host 127.0.0.1 --port 8000


// EMOJIS \\
UTILS ROUTE UTILS FILE